body {
    background: #F4F4F4;
    margin: 0;
}

h1 {
    text-align: center;
}

.container {
    margin:0 auto;
}
.main {
    width: 300px;
    height: 560px;
    background: #FFF;
    border: 2px solid #A9938D;
    border-radius: 10px;
    float: left;
    margin: 50px 70px;
    box-shadow: 0px 7px 7px 3px;
    
}

.main img {
    width: 100%;
    height: auto;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    
    
    
}

.main h2 {
    text-align: center;
  
 
}

a {
    text-decoration: none;
    color: black;
}

.main p {
    text-align: right;
    padding: 0 15px;
    float: right;
    
}


.header {
    padding: 45px 0 20px 40px;
}

.menu {
    background: #BAA19A;
    padding: 6px 0 6px 40px;
}

.menu a {
    padding : 2px 10px;
    color: #82270E;
    text-decoration: none;
    font-size: 24px;
    font-family: "Arial Narrow", "Myriad Pro";
}

.menu .admin {
    float: right;
    
    

}


.menu a:hover {
    color:#FBF8F7;
}

footer {

    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: "Lucida Sans Unicode";
    color: #444444;
    font-size: 11px;
    text-align: end;
}



/*********** MOVIE **********/


.post {
    margin: 0 auto;
 
}

.post h2 {
    text-align: center;
    font-size: 30px;

}


.post iframe {
    margin: 150px 100px;
    float: left;
}

.properties {
    width: 600px;
    float: left ;
    margin: 50px auto;
    padding: 100px 30px 10px 100px;
    
}

.properties p {
    font-size: 25px;
    color: blue;
    padding: 10px 5px 5px 10px;
    margin: 0 auto;
    
    
}


.imdbRating span {
     font-size: 24px;
}

.imdbRating img {
    width: 60px ;
    height: auto;
    padding: 0 2px ;
/*    float: left;*/
}
 /*****ADD MEDIA FORM ******/  


.form {
    width: 500px;
    height: auto;
    margin: 50px 150px;;
    float: left;
/*    border: 2px solid #A9938D;*/
   
}

.form textarea {
 width: 100%; 
height: 30px;
 border-radius: 5px;
/* background: #D6D6D6;*/
 height: 70px;
}

.form  input {
 width: 100%; 
 border-radius: 5px;
 height: 30px;
 font-size: 15px;
/* background: #D6D6D6;*/
}

.media button {
    width: 500px;
    height: 34px;
    margin: 20px 0px ;
    background-color: #166ED2;
    font-size: 20px;
    color: aliceblue;
    border-radius: 5px ;   
}

.form  label {
    font-size: 20px;
}

.form h2 {
  text-align: center; 
}


.form_series { 
    width: 500px;
    height: auto;
    margin: 50px 150px;;
    float: left;   
}

.form_series h2 {
 text-align: center; 
}

.form_series textarea {
 width: 100%; 
height: 30px;
 border-radius: 5px;

 height: 70px;
}

.form_series  input {
 width: 100%; 
 border-radius: 5px;
 height: 30px;
 font-size: 15px;
/* background: #D6D6D6;*/
}

.form_series  label {
     font-size: 20px;
}

/********ADMIN MENU**************/


.admin_menu {
    background: #BAA19A;
    padding: 6px 0 6px 40px;
}

.admin_menu a {
    padding : 2px 10px;
    color: #82270E;
    text-decoration: none;
    font-size: 24px;
    font-family: "Arial Narrow", "Myriad Pro";
}

.admin_menu .front {
     float: right;
}

.admin_menu a:hover {
    color:#FBF8F7;
}

.genres {
    width: 300px;
    margin: 20px 50px;
    height: 24px;
    float: left;
    padding: 10px 10px 10px 10px;
}

.genres button {
    width: 150px;
    height: 34px;
    margin: 20px 60px;
    background-color: #166ED2;
    font-size: 20px;
    color: aliceblue;
    border-radius: 5px;
}

.genres label {
    font-size: 20px;
}

/********ADD GENRES *********/
.table_genre {
    width: 300px;
    margin: 20px 50px;
/*    height: 24px;*/
    float: right;
    font-size: 20px;
    padding: 140px 650px 10px 50px;
}

.table, th, td {
    width: 400px;
    border: 1px solid black;
    border-collapse: collapse;
/*    height: 34px;*/
    
}

.edit {
    width: 300px;
    margin: 20px 50px;
    height: 24px;
    float: left;
    
}

.edit label {
    font-size: 20px;
}

/******ADD MEDIA**********/

.table_all_movies td {
    width: 700px;
    border: 2px solid gray ;
    border-collapse: collapse ;
/*    max-height: 50px;*/
    overflow: hidden;
    align-content: center;
 
}
.table_all_movies th {
    width: 700px;
    border: 2px solid black;
    border-collapse:collapse;
    height: 34px;
    
}

.table_all_movies {
    width: 70%;
    margin: 20px 50px 20px 50px ;
    font-size: 20px;
    padding: 50px ;
}

.table_movies h2 {
    margin: 20px 100px;
}

.table_all_series {
    width: 90%;
    margin: 20px 50px 20px 50px ;
    font-size: 20px;
    padding: 50px ;
}

.table_all_series th {
    width: 400px;
    border: 2px solid black;
    border-collapse: collapse;
/*    height: 34px;*/
    
}

.table_all_series td {
    width: 500px;
    border: 2px solid gray ;
    border-collapse: collapse;
    max-height: 50px;
 overflow: hidden;
    align-content: center;
 
}
.table_series h2 {
    margin: 20px 100px;
}